# Ignore frontend assets
resources/js/** linguist-vendored
node_modules/** linguist-vendored

# Ignore public assets
public/** linguist-generated
js/** linguist-generated
admin/** linguist-generated
website/** linguist-generated


# Ignore template/demo files
demo/** linguist-generated

# Force PHP
*.php linguist-language=PHP
*.blade.php linguist-language=PHP
